.detail {
    width: 80%;
    margin: auto;
    display: flex;

    .applyDetails {
        flex-basis: 25%;
        h6 {
            width: 100%;
        }
        p {
            width: 100%;
        }
    }
    .mainDetails {
        flex-basis: 75%;
        .access {
            display: inline-flex;
        }
        .logoContainer {
            display: flex;
            flex-direction: row;
            img {
                width: 50px;
                height: 50px;
            }
            .companyDesc {
                display: flex;
                flex-direction: column;
                margin-left: 10px;
                .companyName {
                    font-weight: bolder;
                }
            }
        }
    }
}
