@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

.mainContainer {
    width: 80%;
    margin: auto;
    position: relative;
    .imgContainer {
        width: 100%;
        img {
            width: 100%;
            height: 200px;
        }
    }
    .tbContainer {
        height: 50px;
        position: absolute;
        top: 30%;
        left: 25%;
        background: white;
        width: 50%;
    }
}
* {
    font-family: "Raleway", sans-serif;
}
